/*body styling*/
body {
    width: 800px;margin: 0 auto;
}

/*Image Styling*/
img {
    width: 200px; height: 200px
}

/*Block Styling*/
h1 {
    text-align: center
}
h2 {
    text-align: center
}
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-image: url(images/phone_globe.jpeg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 50% 50%;
    background-size: cover;
}
body div {
    border: 5px solid black;
    display: flex;
}